<div class="container">
  <h1>Moonstone drop sim</h1>

  <button mat-raised-button
    (click)="mulliganAll()">
    <mat-icon>videogame_asset</mat-icon>
    Drop moonstones!
  </button>

  <!-- Map  -->
  @if (stones.length) {
    <app-map [stones]="stones" class="map-container"/>
  }

    <!-- Table  -->
    <table mat-table [dataSource]="stones" class="table-container">
      <ng-container matColumnDef="colour">
        <th hidden mat-header-cell *matHeaderCellDef> Colour </th>
        <td mat-cell *matCellDef="let stone"> <app-moonstone-icon [colour]="getColour(stone)"></app-moonstone-icon> </td>
      </ng-container>
      <ng-container matColumnDef="degrees">
        <th hidden mat-header-cell *matHeaderCellDef> Degrees </th>
        <td mat-cell *matCellDef="let stone"> ∠{{stone.degrees}}° </td>
      </ng-container>
      <ng-container matColumnDef="distance">
        <th hidden mat-header-cell *matHeaderCellDef> Distance </th>
        <td mat-cell *matCellDef="let stone">
          {{ stone.distance }}"
        </td>
      </ng-container>
      <ng-container matColumnDef="depth">
        <th hidden mat-header-cell *matHeaderCellDef> Depth </th>
        <td mat-cell *matCellDef="let stone">
          ↓{{ stone.depth }}
        </td>
      </ng-container>
      <ng-container matColumnDef="reroll">
        <th hidden mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let _; let i = index">
          <button class="reroll-button"  mat-icon-button color="tertiary" (click)="rerollStone(i)">
            <mat-icon class="reroll-icon">refresh</mat-icon></button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
      <tr mat-row *matRowDef="let _; columns: columnsToDisplay"></tr>
      <tr class="no-data-row" *matNoDataRow>
        <td [attr.colspan]="columnsToDisplay.length">Waiting for the moon to shine...</td>
      </tr>
    </table>
</div>
